body {
    height: 100%;
    background: linear-gradient(
        to bottom,
        #0d2850 30%,
        white 0%
    );
}

.card-header{
    background-color: white;
    border-bottom: 0;
}
.tb-header{
    background-color: #bfe4f4;
}
.form-boder {
    background-color: #eceef1d9;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
